{% load form_tags widget_tweaks %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert" >
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div class="form-group">
    {% if field.label == "Password" %}
        {{ 'پسورد' }}
    {% elif field.label == "Password confirmation" %}
        {{ 'تکرار پسورد' }}
    {% elif field.label == "Username" %}
        {{ 'نام کاربری' }}
    {% elif field.label == "Old password" %}
        {{ 'پسورد قدیمی' }}
    {% elif field.label == "New password" %}
        {{ 'پسورد جدید' }}
    {% elif field.label == "New password confirmation" %}
        {{ 'تکرار پسورد جدید' }}
    {% else %}
        {{ field.label }}
    {% endif %}

    {% if field.required == true %}
    <span style="height: 5px; width: 5px; background-color: red; border-radius: 50%; display: inline-block;"></span>
    {% endif %}

    {% render_field field class=field|input_class %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {% if error == 'This field is required.' %}
            {{ 'این فیلد ضروری می‌باشد.' }}
        {% else %}
          {{ error }}
        {% endif %}
      </div>
    {% endfor %}
    {% if field.help_text == '<ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>' %}
      <small class="form-text text-muted">
        {{ '<li>پسورد شما نباید شبیه اطلاعات شخصی شما باشد.</li><li>پسورد شما باید حداقل شامل ۸ کاراکتر باشد.</li><li>پسورد شما نباید از پسورد‌های رایج باشد.</li><li>پسورد شما نباید فقط شامل اعداد باشد.</li>' }}
      </small>
    {% else %}
       <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}
