{% extends 'base.html' %}

{% block title %}ورود به جویا{% endblock %}

{% block breadcrumb %}
  <h5 class="breadcrumb-item " style="display: inline;">ورود</h5>
    <li class="breadcrumb-item " style="display: inline;">برای ثبت شی جدید یا جستجوی شی گمشده خود می‌بایست وارد شوید.</li>
{% endblock %}

{% block body_block %}
  <div class="row justify-content-center">
     <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- Content -->
                    <br><br>
                    <h5 class="text-uppercase font-weight-bold text-right">جویا چیست؟</h5>
                    <p class="text-right">جویا یک سیستم مدیریت اشیا گمشده است که برای دانشجوهای دانشگاه صنعتی اصفهان پیاده‌سازی شده است.</p>
                    <!-- Content -->
                    <br><br>
                    <h5 class="text-uppercase font-weight-bold  text-right"> چگونه اشیا گمشده خود را پیدا کنیم؟ </h5>
                    <p class="text-right">برای پیدا کردن اشیا گمشده لازم است تا ابتدا در سایت ثبت‌نام کنید. سپس در قسمت جستجو نام یا مشخصات شی خود را وارد کنید. موتور جستجوی ما نزدیکترین اشیا به مشخصات ورودی شما را نمایش خواهد داد. </p>
                    <br><br>
                </div>
            </div>
        </div>

    <div class="col-sm-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">ورود</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">ورود</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          اکانتی ندارید ؟ <a href="{% url 'signup' %}">ثبت نام</a>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="{% url 'password_reset' %}" class="text-muted">پسورد خود را فراموش کرده اید؟‌</a>
        </small>
      </div>
    </div>
  </div>
{% endblock %}
