{% extends 'base.html' %}

{% block title %}بازیابی رمز عبور خود{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">ورود > بازیابی رمز عبور</li>
{% endblock %}

{% block body_block %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">بازیابی رمز عبور</h3>
          <p>ایمیل خود را وارد کنید ما برای شما لینکی ارسال میکنیم جهت بازیابی رمز عبور.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">ارسال ایمیل بازیابی پسورد</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
