{% extends 'base.html' %}

{% block title %}عضویت در جویا{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">ثبت نام</li>
{% endblock %}

{% block body_block %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">ثبت نام</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">ساخت اکانت</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          در حال حاضر اکانت دارید ؟ <a href="{% url 'login' %}">ورود</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
