{% extends "base.html" %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">شی جدید</li>
{% endblock %}
{% block body_block %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>مشخصات شی را وارد کنید.</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                                {%if field.label == 'Description'%}
                                <label class="control-label col-sm-2" >توضیحات</label>
                                {% endif %}

                                {% if field.label == 'Title' %}
                                <label class="control-label col-sm-2" >عنوان</label>
                                {% endif %}

                                {% if field.label == 'User' %}
                                <label class="control-label col-sm-2" >کاربر</label>
                                {% endif %}

                                {% if field.label == 'Image' %}
                                <label class="control-label col-sm-2" >عکس</label>
                                {% endif %}
                            <div class="col-sm-10">{{ field }}</div>
                        </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">ثبت شی</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>جویا چیست؟</h3>
                    <p>جویا یک سامانه مدیریت اشیا گمشده است.</p>
                    <h3>چگونه یک شی جدید اضافه کنیم؟</h3>
                    <p>برای این منظور لازم است تا ابتدا در سایت ثبت نام کنید. سپس به قسمت اضافه کردن شی رفته و شی یافته شده را اضافه کنید.</p>
                    <h3>اشیا پیدا شده را چگونه وارد کنیم؟</h3>
                    <ul>
                        <li>نام شی و یک توضیح کوتاه را در مورد آن وارد کنید.</li>
                        <li>لازم است تا یک با کیفیت مناسب از شی آپلود کنید.</li>
                        <li>عکس ترجیحا به یکی از فرمت‌های png, jpg یا jpeg باشد.</li>
                        <li>حجم عکس کمتر از 2MB باشد.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
      </form>
{% endblock %}