<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "bootstrap-rtl.css" %}">
    <link rel="stylesheet" href="{% static "css/vazir.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">جویا</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">صفحه اصلی</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">داشبورد</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add' %}">اضافه کردن شی</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">خروج</a>
            </li>

        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">ورود</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">ثبت نام</a>
            </li>
        {% endif %}
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

    </div>
</nav>
<div class="container">
    <br><br><br>
    {% block body_block %}
    {% endblock %}
    <br><br>
</div>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">


    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
        <a href="https://iut.ac.ir"> IUT Web Development Group </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>