{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">مشخصات ثبت کننده شی</li>
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static "css/bootstrap1.min.css" %}" id="bootstrap-css" >
{#<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>#}
{#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}


    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">

                {% for user in filter.qs %}

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{ user.get_full_name }}</h4>
                        <small><cite title="username">{{ user.username }}<i class="glyphicon">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                            <br />
                        <!-- Split button -->
                        <!--
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                            -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}